{% extends "base.html" %}
{% load static %}

{% block title %}Customer: {{ customer.firstname }} {{ customer.lastname }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ customer }}</h2>
      <ul>
        <li>DOB: {{ customer.date_of_birth }}</li>
        <li>Zip: {{ customer.zip_code }}</li>
      </ul>

    </div>
  </div>

  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12 ">
      <a class="btn btn-primary" href="{% url 'customers:update' customer.pk %}">Update</a>
      <a class="btn btn-default" href="{% url 'customers:delete' customer.pk %}">Delete</a>
    </div>

  </div>
  <!-- End Action buttons -->

</div>
{% endblock content %}

